.view{
    height: 110vw;
    width: 100vw;
    background-color: blue;
}

.container{
    height:92%;
    width :100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: blue ;
    background-color: blue;
    
}

.topicss {
    height: 12%;
    width: 18%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1%;
    border: black solid;
    border-radius: 0.8em;
    background-color: white;
    border-width: thin;
}

